version: '3.8'

services:
  #frontend:
   # build:
    #  context: ./frontend
   # ports:
   #   - "3000:3000" 
   # volumes:
   #   - ./frontend/src:/app/src 
   # depends_on:
   #   - backend

  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    volumes:
      - ./outputs:/app/output
    depends_on:
      - python-script

  python-script:
    build:
      context: ./python-script
    container_name: pdftoaudio-python-script
    ports:
      - "5000:5000"
    volumes:
      - ./outputs:/app/output